
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)

RRRRRRRRRRRRRRRRR                                                                     tttt                       CCCCCCCCCCCCC   SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS 
R::::::::::::::::R                                                                 ttt:::t                    CCC::::::::::::C SS:::::::::::::::S SS:::::::::::::::S
R::::::RRRRRR:::::R                                                                t:::::t                  CC:::::::::::::::CS:::::SSSSSS::::::SS:::::SSSSSS::::::S
RR:::::R     R:::::R                                                               t:::::t                 C:::::CCCCCCCC::::CS:::::S     SSSSSSSS:::::S     SSSSSSS
  R::::R     R:::::R    eeeeeeeeeeee        ssssssssss       eeeeeeeeeeee    ttttttt:::::ttttttt          C:::::C       CCCCCCS:::::S            S:::::S            
  R::::R     R:::::R  ee::::::::::::ee    ss::::::::::s    ee::::::::::::ee  t:::::::::::::::::t         C:::::C              S:::::S            S:::::S            
  R::::RRRRRR:::::R  e::::::eeeee:::::eess:::::::::::::s  e::::::eeeee:::::eet:::::::::::::::::t         C:::::C               S::::SSSS          S::::SSSS         
  R:::::::::::::RR  e::::::e     e:::::es::::::ssss:::::se::::::e     e:::::etttttt:::::::tttttt         C:::::C                SS::::::SSSSS      SS::::::SSSSS    
  R::::RRRRRR:::::R e:::::::eeeee::::::e s:::::s  ssssss e:::::::eeeee::::::e      t:::::t               C:::::C                  SSS::::::::SS      SSS::::::::SS  
  R::::R     R:::::Re:::::::::::::::::e    s::::::s      e:::::::::::::::::e       t:::::t               C:::::C                     SSSSSS::::S        SSSSSS::::S 
  R::::R     R:::::Re::::::eeeeeeeeeee        s::::::s   e::::::eeeeeeeeeee        t:::::t               C:::::C                          S:::::S            S:::::S
  R::::R     R:::::Re:::::::e           ssssss   s:::::s e:::::::e                 t:::::t    tttttt      C:::::C       CCCCCC            S:::::S            S:::::S
RR:::::R     R:::::Re::::::::e          s:::::ssss::::::se::::::::e                t::::::tttt:::::t       C:::::CCCCCCCC::::CSSSSSSS     S:::::SSSSSSSS     S:::::S
R::::::R     R:::::R e::::::::eeeeeeee  s::::::::::::::s  e::::::::eeeeeeee        tt::::::::::::::t        CC:::::::::::::::CS::::::SSSSSS:::::SS::::::SSSSSS:::::S
R::::::R     R:::::R  ee:::::::::::::e   s:::::::::::ss    ee:::::::::::::e          tt:::::::::::tt          CCC::::::::::::CS:::::::::::::::SS S:::::::::::::::SS 
RRRRRRRR     RRRRRRR    eeeeeeeeeeeeee    sssssssssss        eeeeeeeeeeeeee            ttttttttttt               CCCCCCCCCCCCC SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS   
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**                                                                                                                              

MMMMMMMM               MMMMMMMM                                                CCCCCCCCCCCCC   SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS 
M:::::::M             M:::::::M                                             CCC::::::::::::C SS:::::::::::::::S SS:::::::::::::::S
M::::::::M           M::::::::M                                           CC:::::::::::::::CS:::::SSSSSS::::::SS:::::SSSSSS::::::S
M:::::::::M         M:::::::::M                                          C:::::CCCCCCCC::::CS:::::S     SSSSSSSS:::::S     SSSSSSS
M::::::::::M       M::::::::::M   ooooooooooo   nnnn  nnnnnnnn          C:::::C       CCCCCCS:::::S            S:::::S            
M:::::::::::M     M:::::::::::M oo:::::::::::oo n:::nn::::::::nn       C:::::C              S:::::S            S:::::S            
M:::::::M::::M   M::::M:::::::Mo:::::::::::::::on::::::::::::::nn      C:::::C               S::::SSSS          S::::SSSS         
M::::::M M::::M M::::M M::::::Mo:::::ooooo:::::onn:::::::::::::::n     C:::::C                SS::::::SSSSS      SS::::::SSSSS    
M::::::M  M::::M::::M  M::::::Mo::::o     o::::o  n:::::nnnn:::::n     C:::::C                  SSS::::::::SS      SSS::::::::SS  
M::::::M   M:::::::M   M::::::Mo::::o     o::::o  n::::n    n::::n     C:::::C                     SSSSSS::::S        SSSSSS::::S 
M::::::M    M:::::M    M::::::Mo::::o     o::::o  n::::n    n::::n     C:::::C                          S:::::S            S:::::S
M::::::M     MMMMM     M::::::Mo::::o     o::::o  n::::n    n::::n      C:::::C       CCCCCC            S:::::S            S:::::S
M::::::M               M::::::Mo:::::ooooo:::::o  n::::n    n::::n       C:::::CCCCCCCC::::CSSSSSSS     S:::::SSSSSSSS     S:::::S
M::::::M               M::::::Mo:::::::::::::::o  n::::n    n::::n        CC:::::::::::::::CS::::::SSSSSS:::::SS::::::SSSSSS:::::S
M::::::M               M::::::M oo:::::::::::oo   n::::n    n::::n          CCC::::::::::::CS:::::::::::::::SS S:::::::::::::::SS 
MMMMMMMM               MMMMMMMM   ooooooooooo     nnnnnn    nnnnnn             CCCCCCCCCCCCC SSSSSSSSSSSSSSS    SSSSSSSSSSSSSSS   
*/

.lightMode{
  --main-color: white;
  --font-color: black;
  --background-color: white;
  --border-color: #005708;
  --border-card-color: green;
  --between-card-color: #42ad42;
  --center-card-color: #68c751;
  --background-card-color: radial-gradient(circle, var(--center-card-color) 6%, var(--between-card-color) 53%, var(--border-card-color) 92%)  ;
}

.darkMode{
  --main-color: black;
  --font-color: white;
  --background-color: #002c00;
  --border-color: #004207;
  --border-card-color: #075407;
  --between-card-color: #116b11;
  --center-card-color: #2e6921;
  --background-card-color: radial-gradient(circle, var(--center-card-color) 6%, var(--between-card-color) 53%, var(--border-card-color) 92%)  ;
}

/**
  1111111    222222222222222         000000000          000000000
 1::::::1   2:::::::::::::::22     00:::::::::00      00:::::::::00
1:::::::1   2::::::222222:::::2  00:::::::::::::00  00:::::::::::::00
111:::::1   2222222     2:::::2 0:::::::000:::::::00:::::::000:::::::0
   1::::1               2:::::2 0::::::0   0::::::00::::::0   0::::::0ppppp   ppppppppp   xxxxxxx      xxxxxxx
   1::::1               2:::::2 0:::::0     0:::::00:::::0     0:::::0p::::ppp:::::::::p   x:::::x    x:::::x
   1::::1            2222::::2  0:::::0     0:::::00:::::0     0:::::0p:::::::::::::::::p   x:::::x  x:::::x
   1::::l       22222::::::22   0:::::0 000 0:::::00:::::0 000 0:::::0pp::::::ppppp::::::p   x:::::xx:::::x
   1::::l     22::::::::222     0:::::0 000 0:::::00:::::0 000 0:::::0 p:::::p     p:::::p    x::::::::::x
   1::::l    2:::::22222        0:::::0     0:::::00:::::0     0:::::0 p:::::p     p:::::p     x::::::::x
   1::::l   2:::::2             0:::::0     0:::::00:::::0     0:::::0 p:::::p     p:::::p     x::::::::x
   1::::l   2:::::2             0::::::0   0::::::00::::::0   0::::::0 p:::::p    p::::::p    x::::::::::x
111::::::1112:::::2       2222220:::::::000:::::::00:::::::000:::::::0 p:::::ppppp:::::::p   x:::::xx:::::x
1::::::::::12::::::2222222:::::2 00:::::::::::::00  00:::::::::::::00  p::::::::::::::::p   x:::::x  x:::::x
1::::::::::12::::::::::::::::::2   00:::::::::00      00:::::::::00    p::::::::::::::pp   x:::::x    x:::::x
11111111111122222222222222222222     000000000          000000000      p::::::pppppppp    xxxxxxx      xxxxxxx
                                                                       p:::::p
                                                                       p:::::p
                                                                      p:::::::p
                                                                      p:::::::p
                                                                      p:::::::p
                                                                      ppppppppp
*/
@media (min-width: 1200px) {
  h1{
    font-size: xx-large;
    width: fit-content;
    margin: 2.75% auto;
  }

  html {
    background-color:  var(--background-color);
  }
  #board{
    display: none;
  }

  #menu{
    margin: auto auto;
    width: fit-content;
    display: block;

  }

  h2{
    margin: 2.5% auto;
    width: fit-content;
  }

  button{
    margin: 5% auto;
    display: flex;
  }

  menu label, menu input{
    margin: auto auto;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #board .card {
    background-color: transparent;
    width: 220px;
    height: 300px;
    border: 0.1rem solid var(--border-color);
    perspective: 1000px;
  }

  .card {
    font-size: 150%;
    background-color: transparent;
    width: 190px;
    height: 259px;
    border: 0.1rem solid var(--border-color);
    perspective: 1000px;
    margin-bottom: 1%;
  }

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
  }

  #board .playingCard .card:hover .card-inner {
    transform: rotateY(180deg);
  }

  .card-front, .card-front-ascendant, .card-front-descendant,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .card-front {
    color: white;
    background:var(--background-card-color);
  }

  .card-back {
    transform: rotateY(180deg);
    background:var(--background-card-color);
    background-repeat: no-repeat;
    background-position: center;
  }

  .card-back h2 {
    margin: 15% auto;
    font-size: 200%;
    font-weight: bold;
  }

  .card-front h2 {
    margin: 50% auto;
    font-size: 200%;
    font-weight: bold;
  }

  .card-front-ascendant h2, .card-front-descendant h2 {
    margin: 40% auto;
    font-size: 200%;
    font-weight: bold;
  }

  .card-front-ascendant, .card-front-descendant {
    color: white;
    background: no-repeat;
    background:var(--background-card-color);
    background-size: contain;
    background-position: center;
  }

  #board .playingCard {
    justify-content: space-between;
    display: flex;
    align-items: center;

  }

  footer {
    position: sticky;
    bottom: 0;
    margin: -0.25% 15%;
    display: none;
  }

  #waitingScreen {
    display: none;
  }

  #messages {
    position: fixed; /* parent relativement positionné */
    height: auto;
    width: 25%; /* largeur fixe du conteneur */
    display: none;
    top: 10%;
    bottom: 10%;
    right: 10%;
  }

  #messages > #received{
    top: 0;
    position: fixed; /* élément positionné absolument */
    width: 100%; /* largeur fixe de l'élément */
    background-color: #f0f0f0; /* couleur de fond */
  }

  #messages > #toSend{
    bottom: 0;
    position: fixed; /* élément positionné absolument */
    width: 100%; /* largeur fixe de l'élément */
    background-color: #f0f0f0; /* couleur de fond */
  }

  footer .card:hover {
    transform: translateY(-10%);
  }

  #btnShowOff {
    display: flex;
    position: sticky;
    bottom: 0;
    color: var(--font-color);
    border-radius: 2%;
    background-image: var(--background-card-color);
    float: right;
  }
  #btnShowOff:hover {
    content: "Cliquer pour cacher votre main";
  }
}

/**
     999999999          999999999      222222222222222
   99:::::::::99      99:::::::::99   2:::::::::::::::22
 99:::::::::::::99  99:::::::::::::99 2::::::222222:::::2
9::::::99999::::::99::::::99999::::::92222222     2:::::2
9:::::9     9:::::99:::::9     9:::::9            2:::::2 ppppp   ppppppppp   xxxxxxx      xxxxxxx
9:::::9     9:::::99:::::9     9:::::9            2:::::2 p::::ppp:::::::::p   x:::::x    x:::::x
 9:::::99999::::::9 9:::::99999::::::9         2222::::2  p:::::::::::::::::p   x:::::x  x:::::x
  99::::::::::::::9  99::::::::::::::9    22222::::::22   pp::::::ppppp::::::p   x:::::xx:::::x
    99999::::::::9     99999::::::::9   22::::::::222      p:::::p     p:::::p    x::::::::::x
         9::::::9           9::::::9   2:::::22222         p:::::p     p:::::p     x::::::::x
        9::::::9           9::::::9   2:::::2              p:::::p     p:::::p     x::::::::x
       9::::::9           9::::::9    2:::::2              p:::::p    p::::::p    x::::::::::x
      9::::::9           9::::::9     2:::::2       222222 p:::::ppppp:::::::p   x:::::xx:::::x
     9::::::9           9::::::9      2::::::2222222:::::2 p::::::::::::::::p   x:::::x  x:::::x
    9::::::9           9::::::9       2::::::::::::::::::2 p::::::::::::::pp   x:::::x    x:::::x
   99999999           99999999        22222222222222222222 p::::::pppppppp    xxxxxxx      xxxxxxx
                                                           p:::::p
                                                           p:::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          ppppppppp
 */
@media (max-width: 992px) {
  /* styles for tablets */
}

/**


77777777777777777777        66666666        888888888
7::::::::::::::::::7       6::::::6       88:::::::::88
7::::::::::::::::::7      6::::::6      88:::::::::::::88
777777777777:::::::7     6::::::6      8::::::88888::::::8
           7::::::7     6::::::6       8:::::8     8:::::8ppppp   ppppppppp   xxxxxxx      xxxxxxx
          7::::::7     6::::::6        8:::::8     8:::::8p::::ppp:::::::::p   x:::::x    x:::::x
         7::::::7     6::::::6          8:::::88888:::::8 p:::::::::::::::::p   x:::::x  x:::::x
        7::::::7     6::::::::66666      8:::::::::::::8  pp::::::ppppp::::::p   x:::::xx:::::x
       7::::::7     6::::::::::::::66   8:::::88888:::::8  p:::::p     p:::::p    x::::::::::x
      7::::::7      6::::::66666:::::6 8:::::8     8:::::8 p:::::p     p:::::p     x::::::::x
     7::::::7       6:::::6     6:::::68:::::8     8:::::8 p:::::p     p:::::p     x::::::::x
    7::::::7        6:::::6     6:::::68:::::8     8:::::8 p:::::p    p::::::p    x::::::::::x
   7::::::7         6::::::66666::::::68::::::88888::::::8 p:::::ppppp:::::::p   x:::::xx:::::x
  7::::::7           66:::::::::::::66  88:::::::::::::88  p::::::::::::::::p   x:::::x  x:::::x
 7::::::7              66:::::::::66      88:::::::::88    p::::::::::::::pp   x:::::x    x:::::x
77777777                 666666666          888888888      p::::::pppppppp    xxxxxxx      xxxxxxx
                                                           p:::::p
                                                           p:::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          ppppppppp
*/

@media (max-width: 768px) {
  /* styles for tablets */
}


/**


555555555555555555 77777777777777777777        66666666
5::::::::::::::::5 7::::::::::::::::::7       6::::::6
5::::::::::::::::5 7::::::::::::::::::7      6::::::6
5:::::555555555555 777777777777:::::::7     6::::::6
5:::::5                       7::::::7     6::::::6       ppppp   ppppppppp   xxxxxxx      xxxxxxx
5:::::5                      7::::::7     6::::::6        p::::ppp:::::::::p   x:::::x    x:::::x
5:::::5555555555            7::::::7     6::::::6         p:::::::::::::::::p   x:::::x  x:::::x
5:::::::::::::::5          7::::::7     6::::::::66666    pp::::::ppppp::::::p   x:::::xx:::::x
555555555555:::::5        7::::::7     6::::::::::::::66   p:::::p     p:::::p    x::::::::::x
            5:::::5      7::::::7      6::::::66666:::::6  p:::::p     p:::::p     x::::::::x
            5:::::5     7::::::7       6:::::6     6:::::6 p:::::p     p:::::p     x::::::::x
5555555     5:::::5    7::::::7        6:::::6     6:::::6 p:::::p    p::::::p    x::::::::::x
5::::::55555::::::5   7::::::7         6::::::66666::::::6 p:::::ppppp:::::::p   x:::::xx:::::x
 55:::::::::::::55   7::::::7           66:::::::::::::66  p::::::::::::::::p   x:::::x  x:::::x
   55:::::::::55    7::::::7              66:::::::::66    p::::::::::::::pp   x:::::x    x:::::x
     555555555     77777777                 666666666      p::::::pppppppp    xxxxxxx      xxxxxxx
                                                           p:::::p
                                                           p:::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          p:::::::p
                                                          ppppppppp

 */
@media (max-width: 576px) {
  /* styles for tablets */
}


/**
Mobile : 360 x 640
Mobile:  375 x 667
Mobile : 360 x 720
iPhone X : 375 x 812
Pixel 2 : 411 x 731
Tablette : 768 x 1024
Ordinateur portable : 1366 x 768
Ordinateur portable ou de bureau haute résolution : 1920 x 1080
 */